<div class="d-flex flex-column h-100">
    <div class="p-1 bg-dark text-light text-center lh-1">
        <h5 class="mb-0">Musicality</h5>
        <small class="text-muted">by Pierre Henry</small>
    </div>
    <div class="p-1 flex-fill">
        <div class="mx-auto" style="max-width: 576px;">
            <div class="list-group">
                <a *ngFor="let song of songs | keyvalue" [href]="href(song.key)"
                    class="list-group-item list-group-item-action">
                    <app-song-header [songId]="song.key" [song]="song.value"></app-song-header>
                </a>
            </div>
        </div>
    </div>
</div>